{% extends 'review/base.html' %}

{% block title %}
  <title>{{ game.game_name }} - Отзывы на компьютерные игры</title>
{% endblock %}

{% block main %}
<div class="game-card">
    <img src="{{ game.img.url }}" alt="Игра 2" width="300px">
    <h3>{{ game.game_name }}</h3>
    <h3>Жанр: {{ game.genre }}</h3>
    <h3>Возраст: {{ game.age }}</h3>
    <h3>Разработчик: {{ game.developer }}</h3>
    <p>Описание: {{ game.description }}</p>
</div>

    {% if user.is_authenticated %}
        {% if game in user.favorite_games.all %}
            <button class="btn btn-danger" disabled>В избранном</button>
        {% else %}
            <form method="POST" action="{% url 'review:add_to_favorites' %}">
                {% csrf_token %}
                <input type="hidden" name="game_id" value="{{ game.id }}">
                <button type="submit" class="btn btn-primary">Добавить в избранное</button>
            </form>
            <hr>
        {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
    <h3>Написать отзыв</h3>
    <form method="POST" action="{% url 'review:add_review' %}">
          {% csrf_token %}
          <label for="name">Имя:</label>
          <input type="text" id="name" name="name" value="{{ user.username }}" readonly><br>

          <label for="rating">Рейтинг:</label>
          <select id="rating" name="rating" required>
            <option value="5">5 звезд</option>
            <option value="4">4 звезды</option>
            <option value="3">3 звезды</option>
            <option value="2">2 звезды</option>
            <option value="1">1 звезда</option>
          </select><br>

          <label for="review">Отзыв:</label>
          <textarea id="review" name="review" required></textarea><br>

          <input type="hidden" name="url_game" value="{{ id }}">
          <button type="submit">Оставить отзыв</button>
    </form>
    {% endif %}

    <h3>Отзывы пользователей</h3>
    <hr>
    {% for review in reviews %}
    <div class="review">
      <div class="review-header">
        <span class="review-name">{{ review.name }}</span>
          {% if review.rate == 1 %}
          <span class="review-rating">★☆☆☆☆</span>
          {% elif review.rate == 2 %}
          <span class="review-rating">★★☆☆☆</span>
          {% elif review.rate == 3 %}
          <span class="review-rating">★★★☆☆</span>
          {% elif review.rate == 4 %}
          <span class="review-rating">★★★★☆</span>
          {% else %}
          <span class="review-rating">★★★★★</span>
          {% endif %}
      </div>
      <p class="review-text">{{ review.full_review }}</p>
        <hr>
    </div>
    {% endfor %}
{% endblock %}